<div class="img_container">
<img class="resizable_img NOTelevate" style="cursor:help"  src="./img/thumbs/{{{thumb}}}" width="480" height="480" title="{{{body}}}" alt="LOADING IMAGE, WAIT ONE MOMENT PLEASE" /></div><h2 style="padding-top: 5px; line-height:20px; margin-bottom:-10px"><strong>{{img}}</strong></h2>
<p style="min-height: 100px; line-height:15px;"><small>{{#each tags}}
    {{{this}}}{{#unless @last}}, {{/unless}}
{{/each}}</small></p>  

